@font-face {
  font-family: "Lora";
  src: url("Lora-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  src: url("Lora-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}
